on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    # We include 'release' in order to always test the altest release, but mac and Windows binaries are not deployed to the drat repo:
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release', pkgext: '.tgz'}
          - {os: macOS-latest,   r: '4.2', pkgext: '.tgz'}
          - {os: macOS-latest,   r: '4.1',  pkgext: '.tgz'}
          - {os: macOS-latest,   r: '4.0',     pkgext: '.tgz'}
          # - {os: macOS-latest,   r: '3.6',     pkgext: '.tgz'} # Not used in RstoxFramework
          - {os: windows-latest, r: 'release', pkgext: '.zip'}
          - {os: windows-latest, r: '4.2', pkgext: '.zip'}
          - {os: windows-latest, r: '4.1',  pkgext: '.zip'}
          - {os: windows-latest, r: '4.0',     pkgext: '.zip',    rspm: "https://cloud.r-project.org"}
          #- {os: windows-latest, r: '3.6',     pkgext: '.zip',    rspm: "https://cloud.r-project.org"} # Too slow
          - {os: ubuntu-latest,  r: 'release', pkgext: '.tar.gz', rspm: "https://cloud.r-project.org"}
          - {os: ubuntu-22.04,   r: '4.2',  pkgext: '.tar.gz', rspm: "https://cloud.r-project.org"}
          - {os: ubuntu-18.04,   r: '4.1',  pkgext: '.tar.gz', rspm: "https://cloud.r-project.org"}
          - {os: ubuntu-18.04,   r: '4.0',     pkgext: '.tar.gz', rspm: "https://cloud.r-project.org"}
          - {os: ubuntu-18.04,   r: '3.6',     pkgext: '.tar.gz', rspm: "https://cloud.r-project.org"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Anticipate Bintray shutdown
        if: runner.os == 'macOS'
        run: |
          brew update
        shell: bash

      - uses: actions/checkout@v3

      - name: Do autorelease increment, tagging, and environment setup
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          curl "https://raw.githubusercontent.com/StoXProject/repo/master/scripts/checktag-actions.sh" --output checktag.sh
          curl "https://raw.githubusercontent.com/StoXProject/repo/master/scripts/deploy-actions.sh" --output deploy.sh
          chmod +x ./checktag.sh ./deploy.sh
          . checktag.sh
          echo "PRERELEASE=${PRERELEASE}" >> $GITHUB_ENV
          echo "FINAL_TAG=${FINAL_TAG}" >> $GITHUB_ENV
          echo "PKG_FILE_PREFIX=${PKG_FILE_PREFIX}" >> $GITHUB_ENV
          echo "PKG_FILE=${PKG_FILE_PREFIX}${{ matrix.config.pkgext }}" >> $GITHUB_ENV
          echo "PKG_FREL=${PKG_FILE_PREFIX}-R.${{ matrix.config.r }}-${{ runner.os }}${{ matrix.config.pkgext }}" >> $GITHUB_ENV
          echo "PKG_REPO=${GITHUB_WORKSPACE}" >> $GITHUB_ENV
        shell: bash

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          rtools-version: ${{ matrix.config.rtools }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "18.04"))')

      - name: Install MacOS dependencies
        if: runner.os == 'macOS'
        run: |
          rm '/usr/local/bin/gfortran'
          rm '/usr/local/bin/2to3'
          rm '/usr/local/bin/2to3-3.11'
          rm '/usr/local/bin/idle3.11'
          rm '/usr/local/bin/pydoc3'
          rm '/usr/local/bin/python3'
          rm '/usr/local/bin/python3-config'
          rm '/usr/local/bin/pydoc3.11'
          rm '/usr/local/bin/python3.11'
          rm '/usr/local/bin/python3.11-config'
          export HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=false # This prevents Homebrew from re-installing R, which will lead to .Platform$pkgType = "source".
          brew install gdal
        shell: bash

      - name: Prepare for dependencies on Linux
        if: runner.os == 'Linux'
        run: |
          # The following two lines caused trouble for sf on the new R 4.2 on Ubuntu in May 2022:
          #sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          #sudo apt-get update
          sudo apt-get install libgdal-dev libproj-dev libgeos-dev libudunits2-dev
        shell: bash
      
      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: |
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Install dependencies on Windows and macOS
        if: runner.os != 'Linux'
        run: |
          # First try binary and then possibly source:
          options(install.packages.check.source = "no")
          remotes::install_deps(dependencies = TRUE, type = "binary")
          installed <- utils::installed.packages()[, "Package"]
          needed <- remotes::dev_package_deps()
          missing <- setdiff(needed$package, installed)
          if(length(missing)) {
            message("Installing the following packages using default type:\n", paste0(missing, collapse = ", "))
            utils::install.packages(missing, dependencies = TRUE)
          }
        shell: Rscript {0}

      - name: Install prereleases
        run: |
          # After installing Rstox pakcages from the drat repo it may be that the installed versions are not the minimum versions specified in the DESCRIPTION file, since pre-releases are not deployed to the drat repo due to size restrictions. The following installs from the package repos directlly, those packages that difffer (from source):
          # Get the installed versions:
          installed <- as.data.frame(utils::installed.packages())
          # Find minimum versions:
          deps <- strsplit(read.dcf("./DESCRIPTION", all = TRUE)$Imports, ",\n")[[1]]
          Rstox_deps <- deps[startsWith(deps, "Rstox")]
          Rstox_deps <- data.frame(
              Package = sub("[ (].*", "", Rstox_deps),
              MinimumVersion = sub(".*>=  *(.*?) *).*", "\\1", Rstox_deps), 
              StringsAsFactors = FALSE
          )
          Rstox_deps <- merge(Rstox_deps, installed)
          differ <- which(Rstox_deps$MinimumVersion != Rstox_deps$Version)
          for(ind in differ) {
            thisPackage <- Rstox_deps$Package[ind]
            thisMinimumVersion <- Rstox_deps$MinimumVersion[ind]
            remotes::install_github(repo = paste("stoxproject", thisPackage, sep = "/"), ref = paste(thisPackage, thisMinimumVersion, sep = "-v"))
          }
        shell: Rscript {0}

      - name: Install CRANdependencies
        run: |
          remotes::install_cran("rcmdcheck")
          #remotes::install_cran("git2r")
          remotes::install_cran("drat")
          remotes::install_cran("sessioninfo")
        shell: Rscript {0}
        
      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check

      - name: Build package source archive
        if: runner.os == 'Linux' && matrix.config.r == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          pkgbuild::build(".", dest_path = ".", binary = FALSE)
          system(paste0("PKG_FREL=", Sys.getenv("PKG_FILE"), " >> ", Sys.getenv("GITHUB_ENV")))
        shell: Rscript {0}

      - name: Build package binary archive
        if: (runner.os == 'Windows' || runner.os == 'macOS') && github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          pkgbuild::build(".", dest_path = ".", binary = TRUE)
          file.copy(Sys.getenv("PKG_FILE"), Sys.getenv("PKG_FREL"))
        shell: Rscript {0}

      # - name: Upload package source as artifact
      #   if: runner.os == 'Linux' && matrix.config.r == 'release'
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: ${{ env.PKG_FILE }}
      #     path: '${{ github.workspace }}/${{ env.PKG_FILE }}'

      # - name: Upload package binary as artifact
      #   if: runner.os == 'Windows' || runner.os == 'macOS'
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: ${{ runner.os }}-${{ matrix.config.r }}-pkg
      #     path: '${{ github.workspace }}/*${{ matrix.config.pkgext }}'

        # Upload to drat repo only for release on Linux, and onlly for all the specifically given R versions for macOS and Windows, where release is included to detect errors immediatelly when the new R is released:
      - name: Upload to DRAT repo
        if: ( (runner.os == 'Windows' && matrix.config.r != 'release') || (runner.os == 'macOS' && matrix.config.r != 'release') || (runner.os == 'Linux' && matrix.config.r == 'release') ) && github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          BUILD_NUMBER: ${{ github.sha  }}
          DRAT_DEPLOY_TOKEN: ${{ secrets.DRAT_DEPLOY_TOKEN }}
        run: . deploy.sh
        shell: bash

      - name: Create release and upload files
        if: ( (runner.os == 'Windows' && matrix.config.r != 'release') || (runner.os == 'macOS' && matrix.config.r != 'release') || (runner.os == 'Linux' && matrix.config.r == 'release') ) && github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          commit: master
          tag: ${{ env.FINAL_TAG }}
          name: ${{ env.FINAL_TAG }}
          artifacts: ${{ env.PKG_REPO }}/${{ env.PKG_FREL }}
          token: ${{ secrets.GITHUB_TOKEN }}
